.program-contaner{
    display: flex;
     gap: 10px;
   
}

#program-section{
    position: relative;
}
.program-contan{
    position: absolute;
    margin-left: 30px;
    margin-top: 150px;
    background-color:rgba(19, 19, 24, 0.50);
}
#text-program{
    position: relative;
}
.text-contan{
    position: absolute;
    margin-left: 30px;
    margin-top: 150px;
    background-color:rgba(19, 19, 24, 0.50);
}


.bt-n{
    background-color: red;
    border-radius: 10px;
    border-color: red;
    padding: 6px;
}
.img{
    /* margin-left: 10px; */
    width: 76%;
    height: 500px;
    margin-top: 10px;
}

.fx{
    position: relative;
}
.pic{
    position: absolute;
    color: white;
    margin-left: 30px;
    margin-top: 300px;
    background-color:rgba(19, 19, 24, 0.50);
}
.product-container{
    margin-top: 20px;
    justify-content: center;
}
.contan{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.contan-chil-1{
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);;
}
.contan1{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.contan2{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}



@media screen and (max-width:576px) {
    .program-contaner, .img, .contan, .contan1, .contan2{
        flex-direction: column;
    }
    .img{
        width: 100%;
        height: 300px;
    }
    .contan-chil-1{
        flex-direction: column;
    }
    .pic{
        margin-top: 150px;
    }
    .program-contan{
        margin-top: 50px;
    }
    .text-contan{
        margin-top: 80px; 
    }
}